{% for i in color  %}
    <label> {{ i.0 }}
        <input  class="checkbox" type="checkbox"  value="{{ i.0 }}" name="cat"></label><br>
{% endfor  %}
<div id="filterProducts">
    {% for k in data %}
        {{k.id}}<br>
    {% endfor %}
</div>

<div id="message"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    var ckbox = $('.checkbox');
    $('.checkbox').on('click',function () {
        if (ckbox.is(':checked')) {
            var checkedValue = $(this).val();
             $.ajax(
                {
                    type:"POST",
                    url: "{% url 'try_ajax' %}",

                    data:{
                        post_id: checkedValue
                        },
                    dataType:'json',
                    success:function(res){
                $("#filterProducts").html(res.data);


			}

                }
                    )
        }
    });
});
</script>


<!--function(data)-->
<!--                        {-->

<!--                            data = JSON.parse(data.data)-->
<!--                            console.log(data[0].fields)-->
<!--                            $( '#message' ).append(`-->
<!--                                <div>${data[0].fields.demo_name}</div>-->
<!--                            `);-->
<!--                        }-->



<!--{% for i in cat %}-->
<!--<label> {{i.cat_name}}-->
<!--<input class="tap_me" data-filter="cat" type="checkbox" name="cat" value="{{i.id}}">-->
<!--</label> <br>-->
<!--{% endfor %}-->


<!--<label> XL-->
<!--<input class="tap_me" data-filter="cat" type="checkbox" name="cat" value="XL">-->
<!--</label> <br>-->


<!--<label> Black-->
<!--<input class="tap_me" data-filter="cat" type="checkbox" name="cat" value="Black">-->
<!--</label> <br>-->


<!--<br>-->
<!--<div id="filterProducts">-->
<!--    <p class="ajaxLoader">Loading ...</p>-->
<!--{% for pro in data %}-->
<!--    {{pro.pro_name}}-->
<!--{% endfor %}-->
<!--</div>-->
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->


<!--<script>-->
<!--    $(document).ready(function(){-->
<!--        $(".ajaxLoader").hide();-->
<!--        $(".tap_me").on('click',function(){-->
<!--            var _filterObj = {};-->

<!--                var _filterVal = $(this).val();-->
<!--                var _filterKey= $(this).data('filter');-->
<!--                _filterObj[_filterKey]=Array.from(document.querySelectorAll('input[data-filter='+_filterKey+']:checked')).map(function(el){-->
<!--			 	return el.value;-->

<!--			});-->


<!--            $.ajax({-->
<!--			url:'{%url 'filter_data'%}',-->
<!--			data:_filterObj,-->
<!--			dataType:'json',-->
<!--			beforeSend:function(){-->
<!--				$(".ajaxLoader").show();-->
<!--			},-->
<!--			success:function(res){-->
<!--                $("#filterProducts").html(res.data);-->
<!--				$(".ajaxLoader").hide();-->

<!--			}-->

<!--		});-->
<!--        });-->
<!--    });-->
<!--</script>-->
