{% load static %}
	<div class="off-canvas menu-offcanvas position-right" id="offCanvasRight1" data-off-canvas>
        <div class="menu-close hide-for-medium">
            <button class="close-button" aria-label="Close menu" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div id="mobiles-menu-offcanvas">
            <nav class="mobile-navigation primary-navigation hide-for-large" role="navigation" aria-label="Main Menu">
            <ul class="menu-main-navigation-1">

                <li>
                    <a href="{% url 'index'%}">Home</a>
				</li>
				<li id="shopkeeper-menu-item-17">
					<a href="{%url 'shop'%}">The Shop</a>
				</li>


<li id="shopkeeper-menu-item-549" class="mega-menu menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
	<a href="#">The Portfolio</a>
<ul class="sub-menu level-0" style="left: 0px;">
	<li id="shopkeeper-menu-item-1970" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
		<a href="#">Grid Examples</a>
	<ul class="sub-menu level-1">
		<li id="shopkeeper-menu-item-1971" class="menu-item menu-item-type-post_type menu-item-object-page">
			<a href="#">Masonry Style Grid <sup>V1</sup></a></li>
		<li id="shopkeeper-menu-item-2010" class="menu-item menu-item-type-post_type menu-item-object-page">
			<a href="#">Masonry Style Grid <sup>V2</sup></a></li>
	</ul>
</li>
</ul>
</li>
<li class="">
                    <a href="#">The Blog</a></li>

<li class="">
                    <a href="#">About</a></li>

<li class="">
                    <a href="#">Contact</a>
</li>


<li class="">
                    <a href="{%url 'order_history'%}">Order history</a>
</li>
<li class="mega-menu menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
	<a href="#">Profile</a>
{% if user.is_authenticated %}
<ul class="sub-menu level-0" style="left: 0px;">
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
		<a href="#">Welcome {{request.user}}</a>
	<ul class="sub-menu level-1">
		<li class="menu-item menu-item-type-post_type menu-item-object-page">
			<a  href="{%url 'password_change'%}">Reset Password</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page">
			<a  href="{%url 'logout'%}">Logout</a></li>
	</ul>
</li>
</ul>
{% else %}
<ul class="sub-menu level-0" style="left: 0px;">
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
		<a href="{%url 'signin'%}">Signin</a> / <a href="{%url 'signup'%}">Signup</a>
	</li>
</ul>

{% endif %}
</li>
</ul>

            </nav>
        </div>
         <div class="shop_sidebar wpb_widgetised_column">
                <aside id="nav_menu-2" class="widget widget_nav_menu">
					<h3 class="widget-title">Useful Links</h3>
					<div class="menu-off-canvas-nav-container">
						<ul id="menu-off-canvas-nav" class="menu">
				<li id="menu-item-2752" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2752">
					<a target="_blank" rel="noopener" href="">Pre-Sale Questions</a>
				</li>
				<li id="menu-item-2748" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2748">
					<a target="_blank" rel="noopener" href="">Help Center</a></li>
				<li id="menu-item-2750" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2750">
					<a target="_blank" rel="noopener" href="">Reviews</a></li>
				<li id="menu-item-2749" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2749">
					<a target="_blank" rel="noopener" href="">Purchase Shopkeeper ($59)</a></li>
							</ul>
						</div>
				</aside>
		 </div>
    </div>

   	<div class="off-canvas-wrapper">
        <div class="site-search off-canvas position-top is-transition-overlap" id="offCanvasTop1" data-off-canvas>
            <div class="row has-scrollbar">
                <div class="site-search-close">
                    <button class="close-button" aria-label="Close menu" type="button" data-close>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <p class="search-text">
                    What are you looking for?
				</p>

			<div class="widget_product_search">
				<div class="search-wrapp">
				    <form class="woocommerce-product-search search-form" role="search" method="" action="">
				        <div>
				            <input type="search"
				                   value=""
				                   name="s"
				                   id="search-input"
				                   class="search-field search-input"
				                   placeholder="Search products&hellip;"
				                   data-min-chars="3"
				                   autocomplete="off" />
				            <div class="search-preloader"></div>
				            <input type="submit" value="Search" />
				            				        </div>
				    </form>
				</div>
			</div>
			            </div>
        </div>
    </div>