{% load static %}
<div class="menu-wrapper">
                 <nav class="show-for-large main-navigation default-navigation align_left" role="navigation" aria-label="Main Menu">
            		<ul class="menu-main-navigation-1">
                		<li>
                    		<a href="{% url 'index'%}">Home</a>
						</li>

                		<li class="mega-menu menu-item menu-item-type-post_type menu-item-object-page">
							<a href="{%url 'shop'%}">The Shop</a>

						</li>

					<li class="">
                    	<a href="#">The Blog</a></li>

					<li class="">
                    	<a href="#">About</a></li>

					<li class="">
                    	<a href="{%url 'contact_us'%}">Contact</a></li>
						<li  class="mega-menu menu-item menu-item-type-post_type menu-item-object-page
						 menu-item-has-children">
							<a href="">Orders</a>
						<ul class="sub-menu level-0" style="left: 0px;">
							<li  class="menu-item menu-item-type-post_type menu-item-object-page ">
							<a href="">Order Updates</a>
							<ul class="sub-menu level-1">
								<li>
									<a  href="{%url 'order_history'%}">Order History</a></li>
								<li>
									<a  href="{%url 'order_tracking'%}">Order Tracking</a></li>
							</ul>
						</li>
						</ul>
						</li>
						<li class="mega-menu menu-item menu-item-type-post_type menu-item-object-page
						menu-item-has-children">
							<a href="">Profile</a>
<ul class="sub-menu level-0" style="left: 0px;">

	{% if user.is_authenticated %}
		<li  class="menu-item menu-item-type-post_type menu-item-object-page ">
		<a href="">WelCome {{request.user}}</a>
	<ul class="sub-menu level-1">
		<li>
			<a  href="{%url 'password_change'%}">Reset Password</a></li>
		<li>
			<a  href="{%url 'logout'%}">Logout</a></li>
	</ul>
</li>

	{% else %}
	<li  class="menu-item menu-item-type-post_type menu-item-object-page ">
		<a href="{%url 'signin'%}">Signin</a> / <a href="{%url 'signup'%}">Signup</a>

</li>


	{% endif %}


</ul>
</li>


					</ul>
				 </nav>

                <div class="site-tools">
                 <ul>
                    <li class="wishlist-button">
                		<a href="{%url 'wishlist'%}" class="tools_button">
                    		<span class="tools_button_icon">
								<i class="spk-icon spk-icon-heart"></i>
							</span>
							{% if request.user.is_authenticated %}
                    		<span class="wishlist_items_number">{{check_wish}}</span>
							{% else %}
                    		<span class="wishlist_items_number">0</span>
							{% endif %}
                		</a>
            		</li>

					 <li class="">
                    	<a href="{%url 'cart'%}" class="tools_button">
                        	<span class="tools_button_icon">
								<i class="spk-icon spk-icon-cart-shopkeeper"></i>
							</span>
							{% if request.user.is_authenticated %}
                        	<span class="shopping_bag_items_number">{{check_cart}}</span>
							{% else %}
							<span class="shopping_bag_items_number">0</span>
							{% endif %}
                    	</a>

                    <!-- Mini Cart -->
                		</li>



                <li class="offcanvas-menu-button hide-for-large">
            		<a class="tools_button" data-toggle="offCanvasRight1">
                		<span class="tools_button_icon">
							<i class="spk-icon spk-icon-menu"></i>
						</span>
            		</a>
        		</li>
    			</ul>
                    </div>
            </div>