aiodns==2.0.0
aiohttp==3.6.2
alembic==1.4.3
appnope==0.1.0
asgiref==3.3.4
async-timeout==3.0.1
asyncio==3.4.3
attrs==19.1.0
beautifulsoup4==4.8.0
bs4==0.0.1
certifi==2018.1.18
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cmsplugin-contact-plus==1.3.12
colorama==0.4.4
cryptography==3.2.1
decorator==4.2.1
defusedxml==0.5.0
diff-match-patch==20200713
dj-database-url==0.5.0
Django==3.2.4
django-admin-sortable==2.1.6
django-admin-sortable2==0.6.19
django-adminrestrict==1.0.4
django-allauth==0.35.0
django-appconf==1.0.2
django-autoslug==1.9.3
django-bootstrap4==0.0.6
django-classy-tags==0.8.0
django-cms==3.5.2
django-cookie-law==2.0.1
django-createsuperuser==2020.12.3
django-excel==0.0.10
django-extensions==2.0.6
django-filer==1.3.0
django-formtools==2.1
django-heroku==0.3.1
django-import-export==2.5.0
django-mathfilters==1.0.0
django-mptt==0.8.7
django-multiselectfield==0.1.12
django-paypal==1.0.0
django-phonenumber-field==5.2.0
django-polymorphic==1.3
django-recaptcha==2.0.6
django-scheduler==0.9.3
django-sekizai==0.10.0
django-select-multiple-field==0.4.2
django-session-timeout==0.1.0
django-simple-math-captcha==1.0.7
django-social-share==2.2.1
django-sslserver==0.20
django-treebeard==4.2.1
django-widget-tweaks==1.4.2
djangocms-admin-style==1.2.7
djangocms-attributes-field==0.3.0
djangocms-column==1.7.0
djangocms-file==2.0.2
djangocms-googlemap==1.1.1
djangocms-link==2.1.2
djangocms-picture==2.0.6
djangocms-snippet==2.0.0
djangocms-style==2.0.2
djangocms-text-ckeditor==3.5.3
djangocms-video==2.0.4
easy-thumbnails==2.4.2
et-xmlfile==1.1.0
gpio==0.3.0
gunicorn==20.1.0
html5lib==0.9999999
icalendar==4.0.7
idna==2.6
imutils==0.5.4
ipython==5.8.0
ipython-genutils==0.2.0
jedi==0.11.1
jsonfield==2.0.2
lml==0.1.0
lxml==4.4.1
Mako==1.1.3
MarkupPy==1.14
MarkupSafe==1.1.1
maxminddb==1.5.2
mock==2.0.0
model-mommy==1.6.0
multidict==4.7.5
numpy==1.19.4
oauthlib==2.0.7
odfpy==1.4.1
opencv-contrib-python==4.5.2.54
opencv-python==4.5.2.54
openpyxl==3.0.7
parso==0.1.1
pbr==4.1.0
pexpect==4.4.0
pickleshare==0.7.4
Pillow==6.0.0
prompt-toolkit==1.0.15
proxybroker==0.3.2
psycopg2==2.7.5
psycopg2-binary==2.8.2
ptyprocess==0.5.2
pycares==3.1.1
pycparser==2.20
pyexcel==0.6.6
pyexcel-io==0.6.4
pyexcel-webio==0.1.4
Pygments==2.2.0
PySocks==1.7.1
pytest-runner==4.2
python-dateutil==2.8.1
python-editor==1.0.4
python3-openid==3.1.0
pytz==2018.3
PyYAML==5.4.1
raven==6.7.0
razorpay==1.2.0
requests==2.18.4
requests-oauthlib==0.8.0
selenium==3.141.0
simplegeneric==0.8.1
six==1.16.0
soupsieve==1.9.4
SQLAlchemy==1.3.19
sqlparse==0.3.0
tablib==3.0.0
texttable==1.6.3
traitlets==4.3.2
typing-extensions==3.10.0.0
Unidecode==0.4.21
urllib3==1.22
virtualenv==16.7.4
wcwidth==0.1.7
webcolors==1.11.1
whitenoise==5.3.0
xlrd==2.0.1
xlwt==1.3.0
yarl==1.4.2
